<div class="main-div">
    <h1> Our Collections </h1>
    <div class="card-container">
        @for (productItem of productData(); track productItem) {
        <div class="card">
            <img [src]="productItem.image" alt="Product Image" class="product-image">
            <!-- <h3>{{productItem.title}}</h3> -->
            <p>{{productItem.title}}</p>
            <p> €{{productItem.price}}</p>

            <!-- <p>{{productItem.description}}</p> -->
            <!-- <p>Rating: {{productItem.rating.rate}} ({{productItem.rating.count}} reviews)</p> -->
            <button class="card-button" (click)="addTocart(productItem)"> Add to cart </button>
        </div>
        }
    </div>
</div>